# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build
follower.l_amd64
.cache/clangd/index
compile_commands.json
follower~.l_amd64
Libraries/fftw-3.3.10
libfftw3.so.3
libfftw3.so.3.6.9
Resources/Research/__pycache__
Tests/.mscbackup
Tests/__pycache__
.cmake-format.yaml
dist
poetry.lock
Sources/Python/OScofo.egg-info
.build
OScofo.egg-info
Resources/OScofo/__pycache__
Tests/.ipynb_checkpoints
.editorconfig
.gitattributes
Cargo.toml
Makefile
