[submodule "Resources/pd.cmake"]
	path = Resources/pd.cmake
	url = https://github.com/pure-data/pd.cmake
[submodule "Libraries/tree-sitter"]
	path = Libraries/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "Sources/Max/max-sdk-base"]
	path = Sources/Max/max-sdk-base
	url = https://github.com/Cycling74/max-sdk-base.git
[submodule "Resources/Online-Editor/tree-sitter-lua"]
	path = Resources/Online-Editor/tree-sitter-lua
	url = https://github.com/tjdevries/tree-sitter-lua.git
