:root {
    --color-background: #ffffff; /* Light background */
    --color-text: #333333; /* Darker text for better readability */
    --color-highlight-main1: #d32f2f; /* Main highlight color (strong red) */
    --color-highlight-main2: #ff9800; /* Secondary main highlight color (warm orange) */
    --color-highlight-pitch: #388e3c; /* Pitch highlight color (green) */
    --color-highlight-comment: #757575; /* Comment color (gray) */
    --color-highlight-number: #1976d2; /* Number color (golden yellow) */
    --color-highlight-error: #d32f2f; /* Error color (same as main highlight red) */
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #333; /* Dark background */
        --color-text: #e0e0e0; /* Light text for better readability */
        --color-highlight-main1: #ff6f61; /* Main highlight color (vibrant red) */
        --color-highlight-main2: #ffb74d; /* Secondary main highlight color (warm orange) */
        --color-highlight-pitch: #66bb6a; /* Pitch highlight color (bright green) */
        --color-highlight-duration: #; /* Duration highlight color (light blue) */
        --color-highlight-comment: #bdbdbd; /* Comment color (light gray) */
        --color-highlight-number: #64b5f6; /* Number color (golden yellow) */
        --color-highlight-error: #f44336; /* Error color (strong red) */
    }
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "FiraCodeNerdFont", "Courier New", monospace;
}

a {
    text-decoration: none; /* Removes the underline from the link */
    color: inherit; /* Inherits the color from the surrounding text (or the icon's color) */
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}
h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

hr {
    width: 20%;
    margin: 20px auto;
    border: none;
    height: 1px;
    background-color: #ccc;
    align: center;
}

p {
    margin: 0.5em 0;
}

/* Container for the entire layout */
.parent-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 5px;
}

.child-container {
    width: 48%;
    margin: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .parent-container {
        flex-direction: column;
    }

    .child-container {
        width: 100%;
        margin: 0 0 20px;
    }
}

.container {
    position: relative;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 144, 0, 0.2); /* Initial shadow */
    overflow-x: auto;
    overflow-y: auto;
    box-sizing: border-box; /* Ensure padding doesn't cause overflow */
    font-size: 16px;
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
    line-height: 1.5; /* Adjust line height for the entire container */
    scroll-behavior: smooth;
    poitner-events: pointer;
}

/* Style the scrollbar (WebKit browsers like Chrome, Edge, Safari) */
.container::-webkit-scrollbar {
    width: 1px; /* Width of the vertical scrollbar */
    height: 1px; /* Height of the horizontal scrollbar */
}

.container::-webkit-scrollbar-thumb {
    width: 1px; /* Width of the vertical scrollbar */
    height: 1px; /* Height of the horizontal scrollbar */
    border-radius: 1px; /* Rounded corners */
}

.container::-webkit-scrollbar-thumb:hover {
    border-radius: 2px; /* Rounded corners for track */
}

.container::-webkit-scrollbar-track {
    border-radius: 2px; /* Rounded corners for track */
}

/* Add styling for Firefox (scrollbar-width and scrollbar-color) */
.container {
    scrollbar-width: thin; /* Thin scrollbar */
}

.container:focus-within {
    box-shadow: 0 0 10px rgba(0, 144, 144, 0.9); /* Highlight when focused */
}

.line-numbers {
    position: absolute;
    width: auto;
    min-width: 3%;
    min-height: 400px;
    padding: 0px 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--color-background);
    color: var(--color-text);
    text-align: left;
    font-family: "FiraCodeNerdFont", "Courier New", monospace;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(120, 120, 120, 0.2); /* Highlight when focused */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 1.5;
}

.text-input {
    color: transparent;
    background-color: transparent;
    z-index: 1;
    caret-color: var(--color-text);
    opacity: 0.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    resize: none;
}

.container::-webkit-scrollbar-button {
    display: none; /* Remove arrows */
}

.highlight-output {
    z-index: 0;
    opacity: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.highlight-output,
.text-input {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 55px;
    height: 100%;
    width: 90%;
    min-height: 400px;
    min-width: 90%;
    border: none;
    overflow: hidden;
    font-family: "FiraCodeNerdFont", "Courier New", monospace;
    font-size: 16px;
    white-space: pre-wrap;
    line-height: 1.5;
}

.text-input:focus {
    outline: none;
    border: none;
    color: transparent;
}

.text-input::selection {
    background-color: rgba(179, 212, 252, 0.3);
    color: transparent;
}

.error-messages {
    bottom: 0;
    left: 3%;
    color: var(--color-highlight-error);
    margin-top: 20%;
    padding: 20px;
    font-size: 14px;
    font-family: "FiraCodeNerdFont", "Courier New", monospace;
    border-radius: 5px;
    z-index: 2;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(255, 80, 0, 0.2);
}

button {
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: var(--color-text);
    color: var(--color-background);
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
}

button:hover {
    transform: scale(1.05); /* Slightly scale up the button */
}

/* Active effect for the button */
button:active {
    transform: scale(0.98); /* Slightly scale down when clicked */
}

/* Hover effect for the button */

.error {
    text-decoration: underline;
    text-decoration-style: wavy;
}

.error {
    color: inherit; /* Inherit color from the parent or other styles */
}

.restEventId,
.pitchEventId {
    text-decoration-color: red;
    color: var(--color-highlight-main1);
    font-weight: bold;
}
.configId {
    text-decoration-color: red;
    color: var(--color-highlight-main2);
    font-weight: bold;
}

.pitch {
    color: var(--color-highlight-pitch);
}
.duration {
    color: var(--color-highlight-duration);
}
.comment {
    color: var(--color-highlight-comment);
    opacity: 0.7;
    font-style: italic;
}

.duration,
.numberSet {
    color: var(--color-highlight-number);
    font-style: bold;
}

/* Define the custom font */
@font-face {
    font-family: "FiraCodeNerdFont";
    src: url("FiraCodeNerdFont-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
